<%= turbo_frame_tag :clocks do %>
  <div class="container">
    <h1 class="mt-5">Clockwork</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info">
          <p>Click on the "New clock" button to create a new clock.</p>
        </div>
      </div>
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Duration</th>
              <th>Description</th>
              <th>Started at</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <%= form_with(model: Clock.new, local: true) do |f|%>
              <tr>
                <td><%= f.text_field :duration_time, class: 'form-control' %> </td>
                <td><%= f.text_field :description, class: 'form-control' %></td>
                <td><%= Time.now.strftime('%d/%m/%Y %H:%M:%S') %></td>
                <td>
                  <button type="submit" class="btn btn-sm btn-primary">
                    <i class="bi bi-plus"></i>
                  </button>
                </td>
              </tr>
            <% end %>
            <% @clocks.each do |clock| %>
              <tr>
                <td><%= seconds_to_format(clock.duration) %></td>
                <td><%= clock.description %></td>
                <td><%= clock.start_time.strftime('%d/%m/%Y %H:%M:%S') %></td>
                <td>
                  <%= link_to edit_clock_path(clock), class: 'btn btn-sm btn-success' do %>
                    <i class="bi bi-pencil"></i>
                  <% end %>
                  <%= button_to clock, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
        </table>
      </div>
    </div>
  </div>
<% end %>
